<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>$title$</title>
		<meta name="description" content="$excerpt$">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Stalinist+One|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div id="container">
			<header role="banner">
			<h1><a href="http://digitalmusics.dartmouth.edu/~hamr/">HAMR</a></h1>
			<p class="tagline">in the woods</p>
			<p class="info">Hacking Audio and Music Research &bull; September 27&ndash;29, 2013 &bull; Hanover, NH<p>
			</header>

			$body$
		</div>
	</body>
</html>
